alembic
attrs
blinker
cachelib
certifi
charset-normalizer
click
Flask
Flask-Caching
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
inflect
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mako
MarkupSafe
marshmallow
more-itertools
numpy
orjson
packaging
pandas
pip
psycopg2-binary
python-dateutil
python-dotenv
pytz
redis
referencing
requests
rpds-py
six
SQLAlchemy
typeguard
typing_extensions
tzdata
urllib3
Werkzeug